@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {box-sizing: border-box;}

body{
    background-color: #FFFFFF;
}

li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #86838350 1.5px;
    position:fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 74px;
}

nav div.logo{
    margin-left: 20px;
}

nav div.botoes{
    margin-right: 20px;
}

div.container{
    max-width: 95%;
    margin: 0 auto;
}

nav div.botoes button{
    width: 150px;
    height: 40px;
    color: #0A99FE;
    background-color: #0A99FE10;
    border: transparent;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    transition: 0.3s ease;
}

nav div.botoes button:hover{
    cursor: pointer;
    background-color: #0a98fee7;
    color: #FFFFFF;
    transition: 0.3s ease;
}

main{
    margin-top: 100px;
}

main section.secaoDiv{
    margin: 50px auto;
    overflow-x: auto;
}

.titulo {
    color: 	#1B1B1B;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

ul {
    display: flex;
}

ul li.produto {
    display: flex;
    flex-direction: column;
    min-width: 207px;
    height: 275px;
    background-color:#f8f8f8;
    border-radius: 10px;
    margin-right: 25px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border: 2px transparent solid;
    transition: 0.3s ease;
}

ul li.produto:hover{
    border: #0A99FE 2px solid;
    transition: 0.3s ease;
    cursor: pointer;
}

.imagemProduto{
    object-fit: cover;
    height: 60%;
    border-radius: 8px;
}

ul li.produto h2{
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 550;
    margin: 10px auto;
}

ul li.produto p{
    color: 	#868383;
    font-size: 16px;
    font-weight: 500;
    margin: 10px auto
}